
<div>
  <mat-grid-list cols="1" rowHeight="6:1">

    <mat-grid-tile>
      <h1>Welcome to Trello clone!</h1>
    </mat-grid-tile>

    <mat-grid-tile>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="login-form">

        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="form_email.invalid && form_email.errors.required">Email is required!</mat-error>
          <mat-error *ngIf="form_email.invalid && form_email.errors.email">Must be a valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" minlength="8" required>
          <mat-error *ngIf="form_password.invalid && form_password.errors.required">Password is required</mat-error>
          <mat-error *ngIf="form_password.invalid && form_password.errors.minlength">Must be at least 8 characters</mat-error>
        </mat-form-field>
        
        <div class="button-container">
          <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">
            Submit
          </button>
        </div>

      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>

